@font-face {
  font-family: MainFont;
  src: url("../assets/font.ttf");
}

* {
  font-family: MainFont;
}

@media screen and (min-width: 800px) {
  body {
    zoom: 1.2;
    -moz-transform: scale(1.2);
  }
}

.btn:focus, .btn-primary:focus {
  box-shadow: none !important;
}

.u, .d {
  width: 200px;
}

.u {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.d {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

td {
  text-align: right !important;
}
